<h1>Listing leafs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leafs.each do |leaf| %>
      <tr>
        <td><%= leaf.name %></td>
        <td>
          <%= link_to leaf.photo.url(:large) do %>
            <%= image_tag leaf.photo.url(:thumb) %>
          <% end %>
          </td>
        <td><%= link_to 'Show', leaf, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_leaf_path(leaf), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', leaf, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leaf', new_leaf_path, class: "btn btn-success" %>
