<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leaf.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @leaf.photo %>
</p>

<%= link_to 'Edit', edit_leaf_path(@leaf) %> |
<%= link_to 'Back', leafs_path %>
